@page "/Room/EditRoom/{Id:int}"
@inherits EditRoomBase


<div class="@GetElementStyle()">
    <Message @ref="@message" message="@messageText" Type="@messageType"></Message>

</div>


<h3 class="text-center title-text mb-1">Edit Room: </h3>

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-lg">
                <div class="card-body p-4">
                    <EditForm Model="room" OnValidSubmit="UpdateRoom">
                        <DataAnnotationsValidator />
                        <div class="form-group">
                            <label class="label-name">Room Number:</label>
                            <div>
                                <input @bind="room.RoomNumber" type="number" class="form-control p-2 rounded-2" />
                                <ValidationMessage For="@(()=> room.RoomNumber)" />
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="label-name">Description:</label>
                            <div>
                                <input @bind="room.Description" class="form-control p-2 rounded-2" />
                                <ValidationMessage For="@(()=> room.Description)" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="label-name">Price:</label>
                            <div>
                                <input @bind="room.Price" type="number" class="form-control p-2 rounded-2" />
                                <ValidationMessage For="@(()=> room.Price)" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="label-name">Number of Beds:</label>
                            <div>
                                <input @bind="room.NumberOfBeds" type="number" class="form-control p-2 rounded-2" />
                                <ValidationMessage For="@(()=> room.NumberOfBeds)" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="label-name">Room Type:</label>
                            <div>
                                <InputSelect @bind-Value="room.RoomTypeId" class="form-control  p-2 rounded-2">
                                    <option selected value="@room.RoomTypeId">@room.RoomTypeName</option>
                                    @foreach (var type in roomTypeDtos)
                                    {
                                        <option value="@type.Id">@type.Name</option>
                                    }
                                </InputSelect>
                                <ValidationMessage For="@(()=> room.RoomTypeId)" />
                            </div>
                        </div>

                        <div class="d-grid gap-2 mt-3">
                            <button type="submit" class="btn btn-edit buttonText"><i class="mdi mdi-pencil"></i> Edit Book</button>
                            <a class="btn btn-light btnCancel buttonText" href="/"><i class="mdi mdi-close-circle"></i>Cancel</a>
                        </div>
                    </EditForm>
 

                </div>
            </div>
        </div>
    </div>
</div>